@font-face {
  font-family: "Rajdhani";
  src: url("../assets/fonts/Rajdhani-SemiBold.ttf") format("ttf"),
    url("../assets/fonts/Rajdhani-SemiBold.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Rajdhani, sans-serif;
}

:root {
  font-size: min(calc(1em + 1vw), 4em);
  --layout-spacing: max(8vh, 3em);
  --grid-spacing: calc(var(--layout-spacing) * 2);
  --purple: #524dd0;
  --blue: #00ffec;
  --white: #fff;
}

body > * + * {
  margin-top: var(--layout-spacing);
}

header {
  text-align: center;
  background-color: var(--purple);
  color: var(--white);
  grid-column: 1 / span 3;
  grid-row: 1;
  width: 100%;
}

body {
  overflow-y: scroll;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

li {
  padding: 2em;
  border-bottom: solid 1px var(--purple);
  grid-row: 1 / span 2;
  justify-self: center;
  display: flex;
  overflow-x: hidden;
  flex-wrap: nowrap;
}

h3 {
  width: 60%;
}
/*knop*/

.button {
  background-color: var(--blue);
  border-radius: 5px;
  width: min((15vw) 15em);
  height: 2em;
  border: none;
  flex-grow: 1;
}
/*
#{
  grid-row: ;
}

#{
  grid-row: ;
}

#{
  grid-row: ;
}

#{
  grid-row: ;
}

#{
  grid-row: ;
}

#{
  grid-row: ;
}

#{
  grid-row: ;
}

#{
  grid-row: ;
}
*/

body.expand1 {
  background-color: hotpink;
}

body.expand2 {
  background-color: royalblue;
}
